/****************************************
* Transform
****************************************/
.transform-demo > div {
  height: 40px;
  background: salmon;
  width: 20%;
  margin: auto;
  display: inline-block;
  transition: 5s;
}

.transform-demo > div:hover{
  transform: translateX(150px);
} 

/****************************************
* Transition
****************************************/

.transition-demo img {
  margin-bottom: .5em;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
  transition: 10s;
}

.transition-demo img:hover {
filter: none;
transform: rotate(360deg) scale(2.0);
}

/****************************************
* Animation
****************************************/

.bar {
  border: 1px solid black;
  height: 50px;
  width: 500px;
  margin: auto;
  background-color: palegreen;
  animation: sale-bar 10s;
}

@keyframes sale-bar {
  0% { background-color: #898ba7; width: 450px }
  15% { background-color: rgb(241, 235, 235); width: 600px;}
  50% { background-color: #1f0c8f; width: 300px }
  65% { background-color: #ffe600; height: 200px; width: 250px;}
  100% { background-color: rgb(255, 0, 51); width: 150px }
}

section {
  background: #ffdb10;
  height: 400px;
  width: 400px;
  margin: 30% auto;
}

.inner-div {
  background: blue;
  width: 200px;
  height: 200px;
  animation: dom-moves 8s infinite;
}

@keyframes dom-moves{
  0% {transform: translateX(0) translateY(0); background: whitesmoke;}
  10% {transform: translateX(0) translateY(100%); background: #315e70;}
  30% {transform: translateX(100%) translateY(100%); background: #38055a; height:225px;}
  40% {transform: translateX(100%) translateY(0); background: #f80303; height:225px;}

  60% {transform: translateX(0) translateY(0); background: whitesmoke;}
  70% {transform: translateX(100%) translateY(0); background: #315e70;}
  80% {transform: translateX(100%) translateY(100%); background: #38055a; height:225px;}
  90% {transform: translateX(0) translateY(100%); background: #f80303; height:225px;}
}
